# Applies on top of arch/x86/configs/kvm_guest.config
# source/scripts/kconfig/merge_config.sh -n source/arch/x86/configs/kvm_guest.config vido/kvm.config

CONFIG_64BIT=y
CONFIG_PRINTK=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_SHMEM=y
CONFIG_TMPFS=y
# For poweroff
CONFIG_ACPI=y

CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y
CONFIG_DEVTMPFS=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_FSCACHE=y
CONFIG_9P_FSCACHE=y
CONFIG_OVERLAY_FS=y
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000=y
CONFIG_PACKET=y
CONFIG_WATCHDOG=y
CONFIG_IB700_WDT=y
