# From a Linux kernel checkout:
# ARCH=um scripts/kconfig/merge_config.sh -n arch/um/configs/x86_64_defconfig ~/src/github.com/g2p/vido/uml.config
CONFIG_64BIT=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_ELF=y
CONFIG_TMPFS=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_UML=y
CONFIG_NETDEVICES=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_FSCACHE=y
CONFIG_9P_FS=y
CONFIG_9P_FSCACHE=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_OVERLAY_FS=y
